<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <div class="navbar">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">BOOKFree</a>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link" href="/account/">My Account</a>
              <button id="registrationButton">Sign In</button>
              <div id="registrationModal" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <h2>Registration</h2>
                    <form id="registrationForm">
                        <label for="name">Name:</label>
                        <input type="text" id="name" name="name" required>
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" required>
                        <label for="password">Password:</label>
                        <input type="password" id="password" name="password" required>
                        <label for="city">City:</label>
                        <input type="text" id="city" name="city" required>
                        <button type="submit">Submit</button>
                    </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
    <div class="container1">
        <img class="img1" src="../images/photo-1512580770426-cbed71c40e94.jpg" alt="logo">
        <h4>Discover the Joy</h4>
        <h4>Explore the World of Books</h4>
    </div>
    <div class="container2"></div>
    <div class="container3">
        <img src="../images/photo-1541963463532-d68292c34b19.jpg" alt="img">
        <div class="text">
          <h3>Revolutionize Your Reading</h3>
          <p>Read and share books in your language anywhere in the world. Reading without boundaries is real.</p>
          <button id="registerButton">Registration</button>
        </div>
    </div>
    <div class="container4"></div>
    <div class="container5">
        <div class="text">
        <h3 class="conth3">Easy to Do</h3>
        <p class="p1">REGISTER: Enter your name and city</p>
        <p class="p2">CHECK: What books are available in your city</p>
        <p class="p3">SHARE: Add books you are willing to give away</p>
    </div>
        <img class="img2" src="../images/photo-1515125520141-3e3b67bc0a88.jpg" alt="img">
    </div>
    <div class="container6"></div>
    <div class="container7"></div>
    <script src="/static/script.js"></script>
</body>
</html>

